# .NET
backend/**/bin/
backend/**/obj/
*.user

# Node / Next.js
frontend/**/node_modules/
frontend/**/.next/
frontend/**/out/
frontend/**/.env.local

# Env
.env

# OS / IDE
.vs/
.vscode/
.idea/
*.DS_Store

# Logs
*.log
